{% extends "base.html" %}

{% block content %}
<header class="masthead text-center">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron text-white">More Details About</h1>
          <h2 class="masthead-subheading mb-0">{{event.title}}</h2>
      </div>
    </div>
  </div>
<div class="container">
<div class="card-group">
  <div class="card">
    {% if event.image %}
    <img class="card-img-top" src="{{event.image.url}}" alt="Card image cap">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{event.description}}</h5>
      <p class="card-text">Location: {{event.location}}</p>
      <p class="card-text">Seats Available: {{event.available_seats}}</p>
      <p class="card-text">Seats Number: {{event.seats}}</p>
      <p class="card-text"><small class="text-muted">Date/Time: {{event.datetime}}</small></p>
      {% if request.user == event.organizer %}
      <p><a href="{% url 'event-update' event.id %}" class="btn btn-dark px-5 rounded-pill">Edit</a></p>
        {% endif %}
      {% if event.available_seats <= 0 %}
      <span class="d-inline-block" data-toggle="popover" data-content="No more seats available">
        <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled</button>
      </span>
      {% else %}
      <a href="{% url 'book-event' event.id %}" class="btn btn-dark px-5 rounded-pill">Book</a>
      {% endif %}

    </div>
</div></div></div>
{% if request.user == event.organizer %}
<ul class="list-group">
<li class="list-group-item d-flex justify-content-between align-items-center">
Who Booked: {{ticket.booker}}
<span class="badge badge-primary badge-pill">{{ticket.tickets}}</span>
</li>
</ul>
{% endif %}
</header>
{% endblock %}
