{% extends "base.html" %}

{% block content %}

  <header>
    <div class="jumbotron jumbotron-fluid text-white text-center">
  <div class="container">
    <h1 class="display-4">Event List</h1>
  </div>
</div>
  </header>
<div class="container text-black py-5 text-center">
<div class="list-group">
  {% for event in events %}
  <div class="card bg-light mb-3">
    <div class="card-header">
      {{event.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">When: {{event.datetime}}</h5>
      <p class="card-text">{{event.description}}</p>
      <a href="{{event.get_absolute_url}}" class="btn btn-dark  btn-xl rounded-pill">View Details</a>
    </div>
  </div>
  </div>
  {% endfor %}
  </div>
{% endblock %}
