{% extends "base.html" %}

{% block content %}
<header class="masthead text-center">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron">
          <h2 class="masthead-subheading mb-0 text-white">Event List</h2>
          <form action="{% url 'event-list' %}" method="GET" class=" my-2 my-lg-0">
            <input type="text" name='q' placeholder="Search here..." value="{{request.GET.q}}">
            <button class="btn btn-light my-2 mx-sm-1" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>

<div class="container">
<div class="container text-black py-5 text-center">
<div class="list-group">
  {% for event in events %}
  <div class="card mb-3" style="border-color: #ff9147">
    <div class="card-header" style="border-color: #ff9147">
      {{event.description}}
    </div>
    <div class="card-body">
      <h3 class="card-title">{{event.title}} </h3>
      <p class="card-text">{{event.date}} - {{event.time}}</p>
      <a href="{{event.get_absolute_url}}" class="btn btn-block btn-xl rounded-pill my-5 text-white" style="background-color:tomato;">View Details</a>
    </div>
  </div>
  {% endfor %}
  </div>
  </div>
  <div class="bg-circle-4 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  </header>
{% endblock %}
