{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="jumbotron text-center text-white">
  <h1 class="display-4">Profile</h1>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="{% url 'dashboard'%}" role="button">Dashboard</a>
</div>
<div class="container text-center my-5">


<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-5">
      {% if user.profile.img %}
      <img src="{{profile.img.url}}" class="card-img" alt="...">
      {% endif %}
    </div>
    <div class="col-md-7 mb-5">
      <div class="card-body">
        <h5 class="card-title">Name: {{user.profile.get_name}}</h5>
        <p class="card-text"><h1>Bio:</h1><br><p>{{user.profile.about_me}}</p>
        <p class="card-text"><small class="text-muted">Birthday:{{user.profile.dob}}</small></p>
      </div>
    </div>
  </div>
  {% if request.user == user %}
      <a href="{% url 'profile-update'%}">
      <input class="btn btn btn-block btn-xl btn-light rounded-pill mt-5" type="submit" value="Update Profile">
      </a>
      {% endif %}
</div>
</div><br>
{% endblock %}
